<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>parallax</title>
    <link rel="stylesheet" href="./parallax2.css">
  </head>
  <body>
    <section>
      <div class="content">
        <h2>Fire</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
          officia neque voluptate ipsum, commodi reprehenderit perferendis eum
          consequatur earum, provident aspernatur aperiam nisi eveniet assumenda
          vel, optio cum. In, labore.
        </p>
        <a href="#">Read More</a>
      </div>
    </section>
    <section>
        <div class="content">
          <h2>Ice</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
            officia neque voluptate ipsum, commodi reprehenderit perferendis eum
            consequatur earum, provident aspernatur aperiam nisi eveniet assumenda
            vel, optio cum. In, labore.
          </p>
          <a href="#">Read More</a>
        </div>
      </section>
      <section>
        <div class="content">
          <h2>Sand</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
            officia neque voluptate ipsum, commodi reprehenderit perferendis eum
            consequatur earum, provident aspernatur aperiam nisi eveniet assumenda
            vel, optio cum. In, labore.
          </p>
          <a href="#">Read More</a>
        </div>
      </section>
  </body>
</html>
