<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- static nav -->
    <div class="nav">
        <div class="nav-wrapper clearfix">
            <h1><a href="">fashion</a></h1>
            <ul class="right-nav clearfix">
                <li><a href="">home</a></li>
                <li><a href="">recipes</a></li>
                <li><a href="">article</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">purchase</a></li>
            </ul>
        </div>
    </div>

    <!-- header -->
    <!-- 나중에 슬라이드로 구현 -->
    <div class="header">
        <div class="img-wrapper">
            <a href=""><img src="./img/wallpaper.jpg" alt="배경사진"></a>
        </div>
    </div>

    <div class="content clearfix">
        <!-- gallery -->
        <div class="gallery">
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic1.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic2.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic3.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic4.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic5.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic6.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic7.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic8.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/pic9.jpg" alt=""></a>
                </div>
                <p>asdasdsadasdasdasdsadasd</p>
            </div>
        </div>
            
        <!-- 오른쪽 고정 aside -->
        <div class="aside">
            <div class="article-card">
                <div>social</div>
                <div class="img-wrapper"><a href=""><img src="./img/article1.jpg" alt=""></a></div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum minima, cumque vel illum corrupti fugit repellendus, illo molestiae eos ab nam sunt aut reiciendis exercitationem enim architecto debitis cupiditate est.
                </p>
            </div>
            <div class="article-card">
                <div>network</div>
                <div class="img-wrapper"><a href=""><img src="./img/article2.jpg" alt=""></a></div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, nihil! Aliquid dolorum provident esse officia, rerum eligendi voluptatum ipsa qui omnis facilis quisquam. Ut eius ab quia maiores adipisci sunt.
                </p>
            </div>
            <div class="article-card">
                <div>hot pick</div>
                <div class="img-wrapper"><a href=""><img src="./img/article3.jpg" alt=""></a></div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, vero error saepe odit officiis modi deserunt? Accusantium obcaecati blanditiis minus at qui laborum culpa, alias sed fuga quam quasi. Eos.
                </p>
            </div>
            <div class="article-card">
                <div>outlook of today</div>
                <div class="img-wrapper"><a href=""><img src="./img/article4.jpg" alt=""></a></div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos mollitia eius possimus voluptates quia at, libero quas magnam? Deserunt molestias suscipit eos aliquam accusamus in neque voluptatibus excepturi obcaecati quos!
                </p>
            </div>
        </div>
        
    </div>

    <div class="sns"></div>
    <div class="footer"></div>
</body>
</html>