<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- static nav -->
    <div class="nav">
        <div class="nav-wrapper clearfix">
            <h1><a href="">fashion</a></h1>
            <ul class="right-nav clearfix">
                <li><a href="">home</a></li>
                <li><a href="">recipes</a></li>
                <li><a href="">article</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">purchase</a></li>
            </ul>
        </div>
    </div>

    <!-- header -->
    <!-- 나중에 슬라이드로 구현 -->
    <div class="header">
        <div class="img-wrapper">
            <a href=""><img src="./img/wallpaper.jpg" alt="배경사진"></a>
        </div>
    </div>
    
    <div class="content">
        <div class="gallery">
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/갈색니트 복사본.PNG" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/검정하이부츠 복사본.PNG" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/데님여자바지 복사본.jpg" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/목폴라검흰 복사본.png" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/오프숄더티 복사본.png" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/우디체크스커트 복사본.PNG" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/풀커버사진 복사본.png" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/플레어골지v원피스 복사본.PNG" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <a href=""><img src="./img/검정하이부츠 복사본.PNG" alt=""></a>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae culpa eum nihil cum earum, iure excepturi eveniet natus similique labore harum perspiciatis itaque accusantium quisquam dolor quaerat dolores minus doloribus!
                </p>
            </div>
        </div>
        <div class="aside">
            <div class="article-card">
                <div class="card-header"></div>
                <div class="img-wrapper"><a href=""><img src="./img/데님여자바지 복사본.jpg" alt=""></a></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, est atque itaque numquam</p>
            </div>
            <div class="article-card">
                <div class="card-header"></div>
                <div class="img-wrapper"><a href=""><img src="" alt=""></a></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, est atque itaque numquam</p>
            </div>
            <div class="article-card">
                <div class="card-header"></div>
                <div class="img-wrapper"><a href=""><img src="" alt=""></a></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, est atque itaque numquam</p>
            </div>
            <div class="article-card">
                <div class="card-header"></div>
                <div class="img-wrapper"><a href=""><img src="" alt=""></a></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, est atque itaque numquam</p>
            </div>
            <div class="article-card">
                <div class="card-header"></div>
                <div class="img-wrapper"><a href=""><img src="" alt=""></a></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, est atque itaque numquam</p>
            </div>
        </div>
    </div>

    <div class="page-btn">
        
    </div>

    <div class="sns">

    </div>
    <div class="footer"></div>
</body>
</html>