div {
  border: 1px solid black;
}
body{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */

ul {
  list-style: none;
  margin: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
}
/* nav */
.nav {
  position: fixed;
  width: 100%;
}
.nav-wrapper {
  height: 100px;
  /* box-sizing: border-box; */
}

.nav-wrapper > h1 {
  float: left;
  margin: auto 20px;
  line-height: 100px;
}
.nav-wrapper > ul {
  float: right;
  line-height: 100px;
}
.nav-wrapper > ul > li {
  padding: 0 10px;
  float: right;
}

/* header */

.header > .img-wrapper {
  height: 700px;
  box-sizing: border-box;
}
.img-wrapper > a > img {
  width: 100%;
  height: 100%;
}

/* content */
.content {
  display: flex;
  /* border: 1px solid; */
  box-sizing: border-box;
  justify-content: center;
}

.gallery {
  display: flex;
  /* border: 1px solid; */
  flex-grow: 2;
  flex-basis: 100px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.card {
  border: 1px solid;
  flex-basis: 200px;
  margin: 20px 20px 0 0;
  padding: 5px;
}

.card > .img-wrapper {
  width: 200px;
  height: 200px;
}
.aside {
  flex-basis: 100px;
  /* border: 1px solid; */
  flex-grow: 1;
  text-align: center;
}
.article-card {
  width: 200px;
  padding: 10px;
  margin: 20px auto 0 auto;
  border: 0.5px solid lightslategray;
}
.article-card > .img-wrapper {
  width: 200px;
  height: 200px;
}

.article-card > p {
  width: 200px;
  margin: 20px auto 0 auto;
}
