*{
    margin:0;
    padding: 0;
    font-family: "Comfotaa";
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(https://ifh.cc/g/gVgD4.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
/* nav- bar */
.nav-bar{
    display: flex;
    padding: 40px 120px;

}

.nav-logo img{
    width: 130px;
    height: 135px;
}

.nav-links {
    flex: 1;
    margin: auto;
}

.nav-links ul{
    display: inline;
    margin-left: 50px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    text-decoration: none;
    color:#fff ;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.3s;
}
/* 마우스 올리면 밑줄이 생김 */
.nav-links ul li:hover::after{
    width: 100%;
}

.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}

.nav-links .btn{
    float: right;
}
/* banner */
.banner-title{
    margin: 10px 130px;
    color: #fff;
}

.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}

.banner-title h1 span{
    color: yellow;
}

/* vertical-bar */
.vertical-bar{
    height: 100%;
    background: #000;
    top:0;
    left:0;
    position: absolute;
}
.search-icon{
    height: 60%;
    width: 80px;
}
.search-icon .fas{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.social-icons{
    height: 35%;
    width: 80px;
    background:yellow;
    text-align: center;
    padding-top: 27%;
    position: absolute;
    bottom: 0;
}

.social-icons .fab{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border:1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

/* notification */
.notifications{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
}

.contents{
    flex-basis: 50%;
    padding: 10px;
}
.notification-img{
    flex-basis: 50%;
}
.notification-img img{
    width: 100%;
}

.contents a{
    text-decoration: none;
    color : #fff;
    font-size: 13px;
    margin: 0 10px;
}

.contents p{
    text-align:  right;
    margin-top: 10px;

}

@media(max-width : 700px){
    .vertical-bar{
        display: none;
    }
    .banner-title{
        margin: 80px 40px;
    }
    .banner-title h1 {
        font-size:  50px;
    }
    .notifications{
        width: 100%;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top:10px;
    }
    .fa-bars{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }

}