body{
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
}
nav{
    position: fixed; /* 이 속성 덕분에 고정된 nav바를 만들 수 있다 */
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}
ul{
    padding-inline-start: 0;
}

nav.black{
    background: rgba(0,0,0,0.8);
    height: 100px;
    padding: 10px 100px;
}

nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size : 24px;
    transition: .3s;
}
nav.black .logo{
    color: #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin:0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    color:#151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav.black ul li a{
    color : #fff;
}
nav ul li a:focus{
    outline:none;
}
nav ul li a.active{
    background: #00cec9;
    color:#fff;
    border-radius: 6px;
}

section.sec1{  /* sec1의 이름을 가진 section 선택자 */
    width :100%;
    height:100vh;
    background: url(https://ifh.cc/g/HtxTf.png);
    background-size: cover;
    background-position: center;

}

.content{
    margin-top : 80px;
}
.content p {
    width:900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}